.modal {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: #0000004d;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
}

body.modal-static {
  overflow: hidden;
}
.modal_opened {
  visibility: visible;
}

.modal__content {
  background-color: white;
  position: relative;
  padding: 28px 28px 36px;
  max-width: 430px;
  box-sizing: border-box;
  width: 100%;
  border-radius: 16px;
}

.modal__title {
  margin: 0;
  font-weight: 900;
  font-size: 24px;
  line-height: 20px;
  padding: 0 0 24px;
}

.modal__close-btn {
  background: none;
  border: none;
  position: relative;
  left: 400px;
  bottom: 112px;
}

.modal__form {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.modal__label {
  padding: 0 0 8px;
  font-family: Cabinet Grotesk;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #2f71e5;
  padding-top: 8px;
}

.modal__input {
  display: block;
  border-bottom-color: #000000;
  border-top: 1px;
  border-left: 0;
  border-right: 0px;
  width: 100%;
  color: #000000;
  padding-top: 8px;
}

.modal__btns {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal__submit-btn {
  height: 36px;
  border-radius: 4px;
  background-color: #0000004d;

  border: none;

  height: 64px;
  white-space: nowrap;
  width: 358px;
  background-color: #e6e8eb;
  color: #b6bcbf;
  font-size: 18px;
  border-radius: 100px;
}

.modal__submit-btn:hover {
  cursor: pointer;
  background-color: #2f71e5;
  color: #ffffff;
}

.modal__submit_secondary-btn {
  border: none;
  color: #000000;
  background-color: transparent;
  font-size: 14px;
}

.modal__submit_secondary-btn:hover {
  color: #000000;
}

.modal__submit_secondary-btn:hover {
  cursor: pointer;
  background-color: transparent;
  color: #000000;
}

.modal__secondary-action {
  color: #2f71e5;
}

@media screen and (max-width: 706px) {
  .modal {
    top: 45px;
    bottom: initial;
    z-index: 20;
  }

  .modal__content {
    padding: 16px;
    max-width: 100%;
    height: 100vh;
    padding-bottom: 10000px;
  }

  .modal__title {
    font-size: 24px;
    line-height: 24px;
    padding: 0 0 16px;
  }

  .modal__close-btn {
    visibility: hidden;
  }

  .modal__submit-btn {
    width: 100%;
    height: 48px;
    font-size: 14px;
  }
}
