.page__content {
  background-image: url(../../assets/backgroundImg.svg);
  background-repeat: no-repeat;
  max-width: 1440px;
  margin: 0 auto;
}

@media screen and (max-width: 706px) {
  .page__content {
    min-width: initial;
  }
}

.page__content--no-background {
  background-image: none;
}
