.cards {
  background-color: #f5f6f7;
  padding-bottom: 56px;
}

.cards__text {
  color: #212121;
  font-size: 40px;
  margin: 0;
  padding: 80px 104px 58px;
}

.cards__nothing-found {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  margin-top: 64px;
}
.cards__nothing-found_img {
  width: 83px;
  padding: 86px 0 31px;
}

.cards__nothing-found_caption {
  font-size: 26px;
  color: #212121;
  margin: 0;
  font-family: Roboto Slab;
  font-weight: 400;
}

.cards__nothing-found_text {
  font-family: Roboto;
  font-size: 18px;
  color: #6c707a;
  margin: 0;
  text-align: center;
  line-height: 24px;
}

.cards__list {
  padding: 0 104px;
  margin: 0;
  list-style-type: none;
  gap: 16px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding-bottom: 64px;
}

.cards__btn {
  border-radius: 80px;
  width: 288px;
  height: 64px;
  border: none;
  position: relative;
  left: 576px;
}

@media screen and (max-width: 400px) {
  .cards {
    display: flex;
    flex-direction: column;
  }

  .cards__text {
    padding: 32px 16px 58px;
    font-family: Roboto Slab;
    font-weight: 400;
    font-size: 30px;
    line-height: 34px;
    letter-spacing: 0px;
  }

  .cards__list {
    display: flex;
    flex-direction: column;
  }

  .cards__btn {
    position: relative;
    left: 0;
    width: 100%;
    padding: 0 16px;
  }
}
