.about__section {
  height: 624px;
  display: flex;

  position: relative;
  top: 80px;
}

.about__image {
  width: 464px;
  height: 464px;
  padding: 80px 56px 80px 104px;
}

.about__section-content {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.about__section-title {
  margin: 0;
  padding-top: 141px;
}

.about__section-text {
  width: 600px;

  margin: 0;
}
