.about__section {
  height: 624px;
  display: flex;

  position: relative;
  top: 80px;
}

.about__image {
  width: 464px;
  height: 464px;
  padding: 80px 56px 80px 104px;
}

.about__section-content {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.about__section-title {
  margin: 0;
  padding-top: 141px;
}

.about__section-text {
  width: 600px;

  margin: 0;
}

@media screen and (max-width: 320px) {
  .about__section {
    flex-direction: column;
    min-height: 764px;
    top: 40px;
  }

  .about__image {
    width: 272px;
    height: 272px;
    padding: 0;
    position: relative;
    top: 30px;
  }

  .about__section-content {
    align-items: baseline;
    text-align: left;
  }

  .about__section-title {
    padding-top: 40px;
    font-size: 30px;
    line-height: 28px;
  }

  .about__section-text {
    width: 100%;
    font-size: 18px;
    line-height: 18px;
  }
}
