.about__section {
  display: flex;

  position: relative;
  background: snow;
  gap: 56px;
}

.about__image {
  width: 464px;
  height: 464px;

  border-radius: 100%;
  object-fit: cover;
  display: flex;
  flex: 0 0 464px;
}

.about__section-content {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.about__section-title {
  margin: 0;

  font-family: Roboto Slab;
  font-weight: 400;
  font-size: 40px;
  line-height: 46px;
  letter-spacing: 0px;
}

.about__section-text {
  font-family: Roboto;
  font-weight: 400;
  font-size: 18px;

  line-height: 24px;
  letter-spacing: 0px;

  margin: 0;
}

@media screen and (max-width: 1350px) {
  .about__section {
    padding: 40px 40px 61px;
    gap: 32px;
  }

  .about__section-title {
    padding: 0;
  }

  .about__image {
    width: 232px;
    height: 232px;
    display: flex;
    flex: 0 0 232px;
    padding-top: 20px;
  }
}

@media screen and (max-width: 706px) {
  .about__section {
    flex-direction: column;
    min-height: 764px;
    align-content: center;
    flex-wrap: wrap;
  }

  .about__section-title {
    font-size: 30px;
  }

  .about__image {
    width: 272px;
    height: 272px;
    padding: 0;
    position: relative;
    top: 30px;
    padding-bottom: 24px;
  }

  .about__section-content {
    align-items: baseline;
    text-align: left;
    width: 288px;
  }

  .about__section-title {
    padding-top: 40px;
    font-size: 30px;
    line-height: 28px;
  }

  .about__section-text {
    width: 100%;
    font-size: 18px;
    line-height: 18px;
  }
}
