.navigation__hamburger--saved .bar {
  background-color: black !important;
}
.navigation__menu {
  visibility: hidden;
}

.navigation__btns {
  display: flex;
  gap: 33px;
  align-items: center;
  visibility: visible;
  justify-content: flex-start;
  padding-left: 16px;
}

.navigation__home-btn {
  font-family: Roboto;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
  vertical-align: middle;
  background-color: transparent;
  color: white;
  border: none;
  position: relative;
  width: 64px;
}

.navigation__home-btn::after {
  content: "";
  position: absolute;
  bottom: -28px;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: white;
}

.navigation__home-btn--saved {
  font-family: Roboto;
  font-weight: 500;
  font-size: 18px;

  line-height: 24px;
  letter-spacing: 0px;
  text-align: center;
  vertical-align: middle;

  color: black;
}

.navigation__home-btn--saved::after {
  content: none;
}

.navigation__saved-articles-btn {
  font-family: Roboto;
  font-weight: 500;
  font-size: 18px;

  line-height: 24px;
  letter-spacing: 0px;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  position: relative;
  background-color: transparent;
  color: #b6bcbf;
  border: none;
}

.navigation__saved-articles-btn--saved {
  font-family: Roboto;
  font-weight: 500;
  font-size: 18px;

  line-height: 24px;
  letter-spacing: 0px;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  position: relative;
  background-color: transparent;
  color: #b6bcbf;
  border: none;
}

.navigation__saved-articles-btn--saved::after {
  content: "";
  position: absolute;
  bottom: -28px;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: black;
}

.navigation__signout-btn {
  border-radius: 100px;
  width: 112px;
  height: 48px;
  background-color: transparent;
  color: white;
  font-size: 18px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  border-color: #fff;
}

.navigation__signout-btn--saved {
  color: black;
}

.navigation__signin-btn {
  font-family: Roboto;
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 0px;
  text-align: center;
  vertical-align: middle;
  background-color: transparent;
  color: white;
  width: 176px;

  border-radius: 100px;
  height: 48px;
  background-color: transparent;

  border-color: white;
}

.navigation__hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  width: 16px;
  height: 2px;
  background-color: white;
  margin: 6px auto;
  -webkit-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
  display: block;
}

.navigation__close-btn {
  display: none;
}

.navigation__btns--open {
}

@media screen and (max-width: 627px) {
  .navigation__btns {
    position: fixed;
    right: -700px;
    top: 45px;
    flex-direction: column;
    width: 100%;
    background-color: #1a1b22;
    text-align: left;
    transition: right 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    z-index: 100;
    padding-left: 16px;
    opacity: 0;
    pointer-events: none;
    gap: 22px;
  }

  .navigation__home-btn {
    height: 58px;
  }

  .navigation__home-btn--saved {
    color: #fff;
  }

  .navigation__home-btn::after {
    content: none;
  }

  .navigation__saved-articles-btn {
  }

  .navigation__saved-articles-btn--saved::after {
    content: none;
  }

  .navigation__btns.navigation__btns--open {
    right: 0;
    padding: 16px 16px 24px;
    opacity: 1;
    pointer-events: auto;
    box-sizing: border-box;
    align-items: start;
  }

  .navigation__hamburger {
    display: block;
    width: 24px;
    height: 24px;
    z-index: 101;
    position: relative;
  }

  .navigation__signout-btn {
    width: 100%;
    height: 58px;
    color: #fff;
  }

  .navigation__signin-btn {
    width: 100%;
    height: 58px;
  }

  .navigation__close-btn {
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: none;
    display: flex;
    padding: 0 12px 14px;
  }
}
