.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.form__content {
  margin: 0px;
  padding-bottom: 88px;
}

.form__searchbar {
  position: relative;
  padding-bottom: 80px;
}

.form__input {
  width: 608px;
  height: 64px;
  border-radius: 50px;
}

.form__submit-btn {
  position: absolute;
  right: 0px;
  background: #2f71e5;
  width: 168px;
  height: 64px;
  border-radius: 100px;
  color: #fff;
}

@media screen and (max-width: 320px) {
  .form__header {
    font-size: 36px;
  }
  .form__content {
    font-size: 18px;
    font-weight: 400;
  }

  .form__searchbar {
    display: flex;
    flex-direction: column;
  }

  .form__input {
    width: 288px;
  }

  .form__submit-btn {
    position: relative;
    width: 288px;
  }
}
