.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 104px;
  color: white;
  border-bottom: 1px solid gray;
  background: transparent;
  z-index: 10;
}

.header--menu-open {
}

.header__logo {
  max-width: 200px;
  height: 24px;
  text-decoration: none;
  font-family: Roboto Slab;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0px;
  vertical-align: middle;
  color: white;
}

.header a {
  text-decoration: none;
}

.header__logo a {
  text-decoration: none;
}

.header__btns {
  display: flex;
  gap: 42px;
  align-items: center;
}

.header__home-btn {
  border: none;
  background: transparent;
  width: 49px;
  height: 24px;
  color: #fff;
  border-bottom: 3px solid #fff;
}

.header__signin-btn {
  border-radius: 100px;
  width: 175px;
  height: 48px;
  background-color: transparent;
  color: #fff;
  border-color: #fff;
}

@media screen and (max-width: 1350px) {
  .header {
    padding: 0 40px;
  }
}

@media screen and (max-width: 706px) {
  .header {
    gap: 147px;
    padding: 0 20px;
    justify-content: space-between;
  }

  .header--menu-open {
    background: #1a1b22 !important;
    transition: background 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    display: flex;
    position: sticky;
    top: 0;
  }

  .header__logo {
    font-size: 16px;
  }

  .header__btns {
    gap: 16px;
  }

  .header__home-btn {
    width: 40px;
    height: 20px;
    font-size: 14px;
  }

  .header__signin-btn {
    width: 100px;
    height: 32px;
    font-size: 14px;
  }
}
