.footer {
  display: flex;
}

.footer__text {
  margin: 0;
  padding: 32px 540px 36px 104px;
}

.footer__btns {
  display: flex;
  gap: 40px;
  padding-right: 42px;
}

.footer__btn {
  border: none;
  background-color: transparent;
}

.footer__links {
  display: flex;
  gap: 26px;
}

.footer__link-btn {
  border: none;
  background-color: transparent;
}
