.card {
  max-width: 400px;
  max-height: 576px;
  position: relative;
}

.card__save-btn {
  position: absolute;
  left: 326px;
  top: 24px;
  border-radius: 8px;
  width: 40px;
  height: 40px;
  border: none;
  padding: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card__image {
  width: 400px;
  height: 272px;
  border-radius: 16px;
}

.card__date {
  font-family: Source Sans Pro;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0px;
  vertical-align: middle;
  color: #b6bcbf;
}

.card__title {
  font-family: Roboto Slab;
  font-weight: 400;
  font-size: 22px;

  line-height: 24px;
  letter-spacing: 0px;
}

.card__content {
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0px;
}

.card__source {
  font-family: Roboto Slab;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.4px;
  text-transform: uppercase;
  color: #b6bcbf;
}

@media screen and (max-width: 400px) {
  .card {
    max-width: 288px;
    padding-top: 8px;
  }

  .card__save-btn {
    left: 240px;
  }

  .card__image {
    width: 288px;
  }
}
